<div class="card card-pin  raco" {% if post.alt %} style="min-height:250px;background:#1f2937;" {% endif %}>

    {% if post.alt %}

    <a href="{{site.baseurl}}{{post.url}}" class="d-block p-3">
        <h2 class="card-title title text-white mb-3">{{ post.title }}</h2>
        <small class="d-block text-muted">{{ post.content | strip_html | truncatewords:25 }}</small>
        <div class="more mr-2 mb-2">
            <i class="fa fa-arrow-circle-right text-white" aria-hidden="true"></i>
        </div>
    </a>

    {% endif %}

    {% unless post.alt %}

    <div class="wrapcat">

        <span class="gotopost">
            <a href="{{site.baseurl}}{{post.url}}" class="text-dark"><i class="fa fa-arrow-circle-right"></i> More
            </a>
        </span>

        <span class="gotopost2">
            <a href="{{ post.visit }}" target="_blank" class="text-dark">wishlist <i class="far fa-bookmark"></i>
            </a>
        </span>

        <div class="showcat">
            {% for category in post.categories %}
            <a class="btn btn-sm btn-danger mb-1" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">
                {{ category }}
            </a>
            {% endfor %}
        </div>

    </div>


    <a href="{{site.baseurl}}{{post.url}}" target="_blank">

        <img class="card-img" src="/assets/images{{post.url}}0.jpg" alt="{{ post.title }}" loading="lazy">

        <div class="notraco {{ post.status }}">
            <h2 class="card-title title">{{ post.title }}</h2>
            <div class="more">
                <i class="fa fa-arrow-circle-right text-muted" aria-hidden="true"></i>
            </div>
        </div>

    </a>

    {% endunless %}


</div>