<!--
  If you want to remove credits, please, donate:
  https://www.wowthemes.net/freebies-license/
-->

<p>
    
<span class="credits"> 
    
	<p>没有人会记得那些按时跳票的垃圾游戏 ( </p>
    
</span>
    
</p>

<p>
    <a class="text-muted" href="{{site.url}}{{site.baseurl}}/">
        &copy;  {{site.name}}.  - 狼调游戏
    </a>
    
    <a class="text-muted" href="{{site.url}}{{site.baseurl}}/privacy-policy.html">
        Privacy Policy.
    </a>
    
    <a class="text-muted" target="_blank" href="https://www.wowthemes.net/freebies-license/">
        License.
    </a>
    
</p>