<!--
  If you want to remove credits, please, donate:
  https://www.wowthemes.net/freebies-license/
-->

<p>

    <span class="credits">

        <p>没有人会记得那些按时跳票的垃圾游戏 ( </p>

    </span>

</p>

<p>
    <a class="text-muted" href="{{site.url}}{{site.baseurl}}/">
        &copy; 愿望单加壹
    </a>

    <a class="text-muted" href="https://wolft.one/" target="_blank">
        狼调游戏
    </a>

    <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh" target="_blank"><img alt="知识共享许可协议"
            src="/assets/images/cc.png" style="padding-bottom: 2px;">
    </a>

    <!-- <a class="text-muted" href="{{site.url}}{{site.baseurl}}/privacy-policy.html">
        Privacy Policy.
    </a>
    
    <a class="text-muted" target="_blank" href="https://www.wowthemes.net/freebies-license/">
        License.
    </a> -->

</p>
<p><a class="text-muted" href="http://beian.miit.gov.cn/">
        <small>冀ICP备18004113号</small>
    </a></p>