<!--  Replace footer social links here -->

{{/*  <li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://github.com/wowthemesnet" class="text-dark"><i
            class="fab fa-github"></i></a></li>  */}}

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://space.bilibili.com/1306707808"
        class="text-dark"><img alt="bili" src="/assets/images/exlink/bili.svg"></a></li>
<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://music.163.com/#/user/home?id=6275410305"
        class="text-dark"><img alt="bili" src="/assets/images/exlink/163.svg"></a></li>

<li class="d-inline-block ml-1 mr-1"><a href="https://github.com/volfclub/wishlist-gold/stargazers"><img
            alt="GitHub stars" src="https://img.shields.io/github/stars/volfclub/wishlist-gold?style=social"></a>
</li>