<!--  Replace top menu links here -->

<li class="nav-item">
	<a class="nav-link" href="https://github.com/volfclub/wishlist-one/issues" target="_blank">添加游戏</a>
</li>
<li class="nav-item">
	<a class="nav-link active" href="{{site.baseurl}}/index.html">愿望单</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/categories.html">分类</a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/contact.html">联络</a>
</li> -->
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/about.html">
		<!--<img class="rounded-circle mr-2" src="{{site.baseurl}}/{{site.avatar}}" width="30">--><span
			class="align-middle">关于</span></a>
</li>
<li class="nav-item">
	<a class="nav-link" href="https://afdian.net/@volfclub/" target="_blank"><i
			class="fas fa-ring fa-spin"></i>&nbsp;打赏</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/feed.xml"><span class="align-middle">RSS</span></a>
</li>
<li class="nav-item dropdown">
	<a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fas fa-clipboard-check"></i>
	</a>
	<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdown02">
		<ul>
			<li><a target="_blank" href="https://augmentedsteam.com/">商店网页增强</a></li>
			<li><a target="_blank" href="https://www.dogfight360.com/blog/">网络辅助工具</a></li>
			<li><a target="_blank" href="https://metroforsteam.com/">皮肤界面美化</a></li>
			<li><a target="_blank" href="https://www.nexusmods.com/">Nexus Mods</a></li>
		</ul>
		<div class="dropdown-divider">
		</div>
		<span class="dropdown-item">
			<a href="https://store.steampowered.com/about/" class="btn btn-primary d-block" target="_blank"><i
					class="fab fa-steam-square"></i> 安装 STEAM
			</a>
		</span>
	</div>
</li>