<!-- All this area goes before </body> closing tag -->


<!-- AddThis, replace this with your own code from https://www.addthis.com/ -->
<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b15193f169714ca"></script> -->


<!-- Pinterest Script, nothing for you to replace here  -->
<!-- <script async defer src="//assets.pinterest.com/js/pinit.js"></script> -->

<!-- Cookie Consent, nothing for you to replace here. Remove it if you want  -->
<link rel="stylesheet" type="text/css"
  href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#1f2937",
        "text": "#e2e8f0"
      },
      "button": {
        "background": "#d2b48c",
        "text": "#fff6ea"
      }
    },
    "showLink": false,
    "theme": "classic",
    "position": "bottom-right",
    "content": {
      "message": "虽然未必会改变什么, 但我们还是要告诉您, 我们使用了Cookie - 对, 我们用了",
      "dismiss": "好吃 🍪"
    }
  });
</script>