---
layout: default
---
<section class="bg-gray200 pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">

        <article class="card">

          {% if page.image %}
          <!-- <span class="pinme">
                        <a data-pin-do="buttonPin" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/?url={{site.url}}{{site.baseurl}}{{page.url}}&media={{site.url}}{{site.baseurl}}/{{page.image}}&description={{ page.title }}- {{ page.content | strip_html | truncatewords:25 }}"></a>
                    </span> -->
          <img class="card-img-top mb-2" src="{% if page.image contains " ://" %}{{ page.image }}{% else %}{{ page.image
            | absolute_url }}{% endif %}" alt="{{ page.title }}">
          {% endif %}

          <div class="card-body">

            <h1 class="display-4">
              {{page.title}} <small>{{page.subtitle}}</small>
            </h1>

            {% if page.visit %}
            <p><a target="_blank" id="wishlist" href="{{page.visit}}"
                class="btn btn-gray d-block font-weight-bold shadow-none">
                添加至愿望单 <i class="far fa-bookmark"></i></a>
            </p>
            {% endif %}

            {% if page.press %}
            <p><a target="_blank" id="wishlist" href="{{page.press}}"
                class="btn btn-primary d-block font-weight-bold shadow-none">
                浏览媒体资料 <i class="far fa-star"></i></a>
            </p>
            {% endif %}

            {% for category in page.categories %}
            <a class="btn btn-sm btn-primary mt-2 shadow-none"
              href="{{site.baseurl}}/categories.html#{{ category | downcase }}">
              # {{ category | downcase }}
            </a>
            {% endfor %}

            <div>
              <ul class="exlink">
                <li><a href="https://search.bilibili.com/all?keyword={{ page.title }}" target="_blank" rel="noopener"
                    title="在【B站】搜索"><img alt="bili" src="/assets/images/exlink/bili.svg"></a>
                </li>
                <li><a href="https://indienova.com/search/all/{{ page.title }}" target="_blank" rel="noopener"
                    title="在【诺娃】搜索"><img alt="nova" src="/assets/images/exlink/nova.svg"></a>
                </li>
                <li><a href="https://www.gcores.com/search?keyword={{ page.title }}" target="_blank" rel="noopener"
                    title="在【机核】搜索"><img alt="Gcore" src="/assets/images/exlink/gcore.svg"></a>
                </li>
                <li><a href="https://www.zhihu.com/search?type=content&q={{ page.title }}" target="_blank"
                    rel="noopener" title="在【知乎】搜索"><img alt="zhihu" src="/assets/images/exlink/zhihu.svg"></a>
                </li>
                <li><a href="https://weixin.sogou.com/weixin?type=2&query={{ page.title }}" target="_blank"
                    rel="noopener" title="在【微信】搜索"><img alt="wechat" src="/assets/images/exlink/wechat.svg"></a>
                </li>
                <li><a href="https://s.weibo.com/weibo?q={{ page.title }}" target="_blank" rel="noopener"
                    title="在【微博】搜索"><img alt="weibo" src="/assets/images/exlink/weibo.svg"></a>
                </li>
              </ul>
            </div>

            <div class="content">
              {{ content }}
            </div>

            <div>
              <ul class="exlink">
                {% if page.site %}
                <li><a href="{{ page.site }}" target="_blank" rel="noopener" title="访问游戏官网"><img alt="site"
                      src="/assets/images/exlink/site.svg"></a>
                </li>
                {% endif %}
                {% if page.twitter %}
                <li><a href="{{ page.twitter }}" target="_blank" rel="noopener" title="访问游戏官推"><img alt="twitter"
                      src="/assets/images/exlink/twitter.svg"></a>
                </li>
                {% endif %}
                {% if page.tube %}
                <li><a href="{{ page.tube }}" target="_blank" rel="noopener" title="访问游戏油管"><img alt="tube"
                      src="/assets/images/exlink/tube.svg"></a>
                </li>
                {% endif %}
                {% if page.muse %}
                <li><a href="——{{ page.muse }}" target="_blank" rel="noopener" title="MUSE 游戏海报"><img alt="muse"
                      src="/assets/images/exlink/muse.svg"></a>
                </li>
                {% endif %}
                {% if page.back %}
                <li><a href="——{{ page.back }}" target="_blank" rel="noopener" title="独立游戏航时机"><img alt="back"
                      src="/assets/images/exlink/back.svg"></a>
                </li>
                {% endif %}
                {% if page.gog %}
                <li><a href="{{ page.gog }}" target="_blank" rel="noopener" title="访问【GOG】商店"><img alt="gog"
                      src="/assets/images/exlink/gog.svg"></a>
                </li>
                {% endif %}
                {% if page.epic %}
                <li><a href="{{ page.epic }}" target="_blank" rel="noopener" title="访问【EPIC】商店"><img alt="epic"
                      src="/assets/images/exlink/epic.svg"></a>
                </li>
                {% endif %}
                {% if page.itch %}
                <li><a href="{{ page.itch }}" target="_blank" rel="noopener" title="访问【ITCH】商店"><img alt="itch"
                      src="/assets/images/exlink/itch.svg"></a>
                </li>
                {% endif %}
                {% if page.switch %}
                <li><a href="{{ page.switch }}" target="_blank" rel="noopener" title="访问【SWITCH】商店"><img alt="switch"
                      src="/assets/images/exlink/switch.svg"></a>
                </li>
                {% endif %}
                {% if page.mobile %}
                <li><a href="{{ page.mobile }}" target="_blank" rel="noopener" title="访问手机版游戏"><img alt="mobile"
                      src="/assets/images/exlink/mobile.svg"></a>
                </li>
                {% endif %}
                {% if page.kick %}
                <li><a href="{{ page.kick }}" target="_blank" rel="noopener" title="了解游戏众筹"><img alt="kick"
                      src="/assets/images/exlink/kick.svg"></a>
                </li>
                {% endif %}
                </li>
              </ul>
            </div>

            {% if page.steam %}
            <iframe src="https://store.steampowered.com/widget/{{ page.steam }}/" loading="lazy" frameborder="0"
              width="100%" height="200px"></iframe>
            {% endif %}

            {% if page.bili %}
            <iframe src="https:{{ page.bili }}&danmaku=1" allowfullscreen="allowfullscreen" width="100%" height="450"
              loading="lazy" scrolling="no" frameborder="0"
              sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts allow-popups"></iframe>
            {% endif %}

            <!-- require APlayer -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
            <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
            <!-- require MetingJS -->
            <script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
            <meting-js id="{{ page.ost }}" server="netease" type="playlist" auto="netease" fixed="true" theme="#1b2838">
            </meting-js>

            <small class="text-muted d-block mb-3">
              {% unless page.metadate == "hide" %}
              {{ page.date | date: '%B - %d - %Y' }} |
              {% endunless %}
              {% if page.author %}
              by {{page.author | capitalize}} |
              {% endif %}
              <a href="https://github.com/volfclub/wishlist-one/blob/main/{{page.path}}" target="_blank">
                📝改进页面</a> |
              {% if page.next.url %}
              <a href="{{site.baseurl}}{{page.next.url}}"> ◀ 上一个</a> ◈
              {% endif %}
              {% if page.previous.url %}
              <a href="{{site.baseurl}}{{page.previous.url}}"> 下一个 ▶</a>
              {% endif %}
            </small>

          </div>

        </article>

        <div class="t-kill">
          <style>
            .t-kill {
              display: none;
            }

            @media (min-width: 800px) {
              .t-kill {
                display: inline;
              }
            }
          </style>
          <div class="PageNavigation">
            {% if page.next.url %}
            <a class="prev" href="{{site.baseurl}}{{page.next.url}}"><i class="fa fa-angle-left"></i> </a>
            {% endif %}
            {% if page.previous.url %}
            <a class="next" href="{{site.baseurl}}{{page.previous.url}}"><i class="fa fa-angle-right"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>