---
layout: default
---
<section class="bg-gray200 pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">

        <article class="card">

          {% if page.image %}
          <!-- <span class="pinme">
                        <a data-pin-do="buttonPin" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/?url={{site.url}}{{site.baseurl}}{{page.url}}&media={{site.url}}{{site.baseurl}}/{{page.image}}&description={{ page.title }}- {{ page.content | strip_html | truncatewords:25 }}"></a>
                    </span> -->
          <img class="card-img-top mb-2" src="{% if page.image contains " ://" %}{{ page.image }}{% else %}{{ page.image
            | absolute_url }}{% endif %}" alt="{{ page.title }}">
          {% endif %}

          <div class="card-body">

            <h1 class="display-4">
              {{page.title}}
            </h1>

            {% if page.visit %}
            <p><a target="_blank" id="wishlist" href="{{page.visit}}"
                class="btn btn-gray d-block font-weight-bold shadow-none">
                添加至愿望单 <i class="far fa-bookmark"></i></a>
            </p>
            {% endif %}

            {% if page.press %}
            <p><a target="_blank" id="wishlist" href="{{page.press}}"
                class="btn btn-primary d-block font-weight-bold shadow-none">
                浏览媒体资料 <i class="far fa-star"></i></a>
            </p>
            {% endif %}

            {% for category in page.categories %}
            <a class="btn btn-sm btn-primary mt-2 shadow-none"
              href="{{site.baseurl}}/categories.html#{{ category | downcase }}">
              # {{ category | downcase }}
            </a>
            {% endfor %}

            <div class="content">
              {{ content }}
            </div>

            {% if page.steam %}
            <iframe src="https://store.steampowered.com/widget/{{ page.steam }}/" loading="lazy" frameborder="0"
              width="100%" height="200px"></iframe>
            {% endif %}

            {% if page.bili %}
            <iframe src="https:{{ page.bili }}&danmaku=1" allowfullscreen="allowfullscreen" width="100%" height="450"
              loading="lazy" scrolling="no" frameborder="0"
              sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts allow-popups"></iframe>
            {% endif %}

            <!-- require APlayer -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
            <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
            <!-- require MetingJS -->
            <script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
            <meting-js id="{{ page.ost }}" server="netease" type="album" auto="netease" fixed="true" theme="#1b2838">
            </meting-js>

            <small class="text-muted d-block mb-3">
              {% unless page.metadate == "hide" %}
              {{ page.date | date: '%B - %d - %Y' }}
              {% endunless %}
              {% if page.author %}
              , by {{page.author | capitalize}}
              {% endif %}
              <a href="https://github.com/volfclub/game-bark/blob/main/{{page.path}}">
                📝 改进页面</a>
            </small>

          </div>

        </article>

        <div class="PageNavigation">
          {% if page.next.url %}
          <a class="prev" href="{{site.baseurl}}{{page.next.url}}"><i class="fa fa-angle-left"></i> </a>
          {% endif %}
          {% if page.previous.url %}
          <a class="next" href="{{site.baseurl}}{{page.previous.url}}"><i class="fa fa-angle-right"></i></a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</section>